/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #72668c;
    color: #fff;
    padding: 1rem;
    height: 6vh;
    z-index: 1000; 
  }
  
  .logo {
    height: 3rem;
    margin-right: 1rem;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 1rem;
  }
  
  .search-input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
  }
  
  .action-btn {
    cursor: pointer;
    margin-left: 1rem;
  }
   */

   /* Header.module.css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #72668c; 
    color: #fff; 
    padding: 1rem 0;
    height: 6vh;
    z-index: 1000;
  }
  
  .logo {
    height: 3rem;
    margin-right: 1rem;
  }
  
  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    /* margin: 0 1rem; */
  }
  
  .searchBar{
    display: flex;
    align-items: center;
    border-radius: 32px;
    overflow: hidden;
    background: #ffffff;
    padding: 0 0.5rem;

  }
  .searchInput {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545454;
    cursor: pointer;
  }
  
  .searchIcon:hover {
    cursor: pointer;
    color: #4d82ff;
  }

    /* .GlobeSearch{
      display: flex;
      flex-direction: column;
    } */

  

  .unitSelect,
  .languageSelect {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-left: 1rem;
  }
  


  .icon {
    cursor: pointer;
    background: radial-gradient(circle, blue 50%, #72668c 50%);
    color:green;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 3rem;
    padding:0%;
  }